@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: nunito_variable;
    src: url(../public/assets/fonts/Nunito-VariableFont_wght.ttf);
} @font-face {
    font-family: gustatory_delight;
    src: url(../public/assets/fonts/GustatoryDelightRegular-rgX3L.ttf);
} @font-face {
    font-family: beautiful_people_personal_use;
    src: url(../public/assets/fonts/BeautifulPeoplePersonalUse-dE0g.ttf);
}

body {
    font-family: nunito_variable;
} h1 {
    text-align: center;
}